# Getting ready

In [517]:
import snowflake.connector
import sys
import pandas as pd
import time as t

In [198]:
def login():
    f=open('sf.login.py','r').read()
    exec(f)

In [681]:
def runn(sql):                        
    dataa=cur.execute(sql).fetchall()        # .fetchone(), .fetchmany(5)
    names = [x[0] for x in cur.description]                      
    out=pd.DataFrame(dataa,columns=names)
    #return (out,names)
    #To call use x=runn()
    #out=x[0]
    #names=x[1]
    return (out)
def run(codee):
    sqll = open(codee,'r').read()                          
    data=cur.execute(sqll).fetchall()        # .fetchone(), .fetchmany(5)
    names = [x[0] for x in cur.description]                      
    out=pd.DataFrame(data,columns=names)
    return out    
def export(dataout):
    tt=t.ctime() 
    tt=tt.replace(':','_')                
    loc= 'C:\\Users\Abhay-28928\downloads\data '+tt+'.csv'
    dataout.to_csv(loc,index=0)
    print('Export done, check downloads.')

In [665]:
code='code.sql'                    #run code via file use non relative if issue 'C:\\Users\Abhay-28928\downloads\code.csv'
sql="select current_timestamp"  #run code directly from cmd

# Start Prep/Samples

In [676]:
cur.sfqid #check connection
cur

In [677]:
df=runn(sql)
#export(df)
df

                 CURRENT_TIMESTAMP
0 2022-08-29 20:42:05.693000-07:00

# Start working

In [678]:
df=run(sql)

In [679]:
df

                 CURRENT_TIMESTAMP
0 2022-08-29 20:47:39.177000-07:00

In [682]:
export(df)

Export done, check downloads.

In [ ]:
df=run(code.sql)

In [ ]:
df